* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  background-color: aqua;
}

/* Navigation */

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  margin-right: auto;
  display: inline-block;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  list-style: none;
}

.primary-navigation li {
  padding-left: 3.5rem;
}